<ul class="topnav">
  <li><a routerLink="browse">Browse </a></li>
  <li><a routerLink="about">About</a></li>
  <li class="right " *ngIf="(loginStatus$ | async)"  (click)="logout()"><a class="active">Logout</a></li>
  <li class="right" *ngIf="!(loginStatus$ | async)" routerLink="login"><a class="active">Login</a></li>
  <li class="right" *ngIf="!(loginStatus$ | async)" routerLink="register"><a>Register</a></li>
  <li class="right" *ngIf="(adminStatus$ | async)" routerLink="admin"><a>Admin </a></li>
  <li class="right" *ngIf="(employeeStatus$ | async)" routerLink="employee"><a>Return Vehicle</a></li>
  <li class="right" *ngIf="(loginStatus$ | async)"  routerLink="userOrders"><a>View Orders</a></li>
</ul>


