<div class="container">
  <div class="card">
    <mat-form-field appearance="fill" >
      <mat-date-range-input [min]="minDate" [formGroup]="dateFormGroup" [rangePicker]="picker">
        <input readonly matStartDate formControlName="pickUpDate" placeholder="Start date">
        <input readonly matEndDate formControlName="dropOffDate" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <h2 *ngIf="totalCost" >
      Total: <b>{{totalCost}}₪</b>
    </h2>

    <h2 *ngIf="(selectedVehicleType$ | async) as selectedVehicleType">
      Cost Per-Day Delayed: <b>{{selectedVehicleType.costPerDayDelayed}}₪</b>
    </h2>

  </div>

  <div *ngIf="(selectedVehicleType$ | async) as selectedVehicleType" >
    <app-vehicle class="card" [vehicle]="selectedVehicleType" ></app-vehicle>
    <button [disabled]="currentRentalPeriod == null" (click)="orderThenNavigate(currentRentalPeriod)">order</button>
  </div>

</div>

