<p>order works!</p>

<mat-date-range-input [min]="minDate" [formGroup]="dateFormGroup" [rangePicker]="picker">
  <input matStartDate formControlName="pickUpDate" placeholder="Start date">
  <input matEndDate formControlName="dropOffDate" placeholder="End date">
</mat-date-range-input>
<mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-date-range-picker #picker></mat-date-range-picker>

<hr>
<button [disabled]="currentRentalPeriod == null || !(loginStatus$ | async)" (click)="orderThenNavigate(currentRentalPeriod)">order</button>
<hr>
Total cost {{totalCost}}
<br>
 cost per-day delayed <div *ngIf="(selectedVehicleType$ | async) as selectedVehicleType">
  {{selectedVehicleType.costPerDayDelayed}}
</div>


