<form *ngIf="!(loginStatus$ | async)" [formGroup]="loginCredentialsForm" aria-label="form validation login">

  username<input formControlName="loginId">
  password<input formControlName="password">
  <button [disabled]="loginCredentialsForm.invalid" (click)="login(loginCredentialsForm.value)">Login</button>
</form>
<button *ngIf="(loginStatus$ | async)" (click)="logout()">Logout </button>




<!-- <div>
  <button *ngIf="auth$ | async; else logoutTemplate" (click)="logout()">
    Logout
  </button>

  <ng-template #logoutTemplate>
    <button (click)="login()">Login</button>
  </ng-template>
</div> -->