<div class="header">
  <span>Vehicle Vanity</span>
</div>

<body>
  <img src="../../../assets/logo.png" style="padding-left: 45%;">
  <div class="card">
    Kasol Kay LTD started in an unfortunate time but in a short while has flourished in to a project that in the long term can not only accomplish its goals but reach beyond them to offer a service that not only can benefit the company but the users who choose and use it every day.

    By trying to reach the very peak of service we have fought hard to bring a service that works for the user and and only offers what the users need to get to their end goal.

    The goal was to create a service that would cut out all the unnecessary steps and give the users exactly what they want and need without insulting their inelegance.

    We are still growing and already planning the next steps to improve and adapt to what the users and market demands from us, not only in quality but the feature set and support of new and innovative technologies and we hope you  will be along for the ride.

    CEO Kasol Kay
  </div>
</body>