<form [formGroup]="registerForm" (ngSubmit)="registerUser()" style="padding-top: 2%;">
  <div class="container">

    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>

    <hr>

    <label><b>Username</b></label>
    <input class ='regular' type="text" placeholder="Enter Username" formControlName="username">
    <div class="error" *ngIf="registerForm.get('username')?.errors">*Required & under 50 characters</div>

    <label><b>Email</b></label>
    <input class ='regular' type="text" placeholder="Enter Email" formControlName="email">
    <div class="error" *ngIf="registerForm.get('email')?.errors">*Valid email & under 50 characters</div>


    <label><b>Full Name</b></label>
    <input class ='regular' type="text" placeholder="Enter Full Name" formControlName="fullName">
    <div class="error" *ngIf="registerForm.get('fullName')?.errors">*Required & under 50 characters</div>


    <label><b>ID</b></label>
    <input class ='regular' type="text" placeholder="ID" formControlName="id">
    <div class="error" *ngIf="registerForm.get('id')?.errors">*Must be exactly 9 digits</div>


    <label style="width: 55%;"><b>Gender</b></label>
    <label><b>Birth Date</b></label>

    <br>

    <select formControlName="gender">
      <option value="" disabled selected>Select your Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>

    <mat-form-field style="margin-left: 10%; width: 40%;" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input [max]="maxDate" readonly matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker >
    </mat-form-field>

    <br>

    <label><b>Password</b></label>
    <input class ='regular' type="password" placeholder="Enter Password" formControlName="password">
    <div class="error" *ngIf="registerForm.get('password')?.errors">*Required & under 50 characters</div>

    <button [disabled]="!registerForm.valid" type="submit" class="registerButton">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a [routerLink]="['../login']">Login</a>.</p>
  </div>
</form>
