<!-- {{availableVehiclesList|json}}
{{availableVehicleTypesList|json}} -->

<div class="container">

  <form [formGroup]="vehicleFilterRequirementsFormGroup" >
    <mat-form-field>
      <input matInput formControlName="generalRequirement" placeholder="Search">
    </mat-form-field>

    <div formGroupName="vehicleRequirements">
      <mat-form-field>
        <input matInput formControlName="brandName" placeholder="Brand">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="model" placeholder="Model">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="dateManufactured" placeholder="Year">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="gear" placeholder="Gear">
      </mat-form-field>
    </div>
  </form>
</div>


<div class="wrapper">
  <div *ngFor="let vehicleType of availableVehicleTypesList" >
    <div *ngIf="vehicleType|browse:vehicleFilterRequirements">
      <app-vehicle  class="card" [vehicle]="vehicleType"> </app-vehicle>
      <button (click)="passSelectedVehicleType(vehicleType)">Choose</button>
    </div>
  </div>
</div>

